<!-- Creating a container to separate the welcome message and the body -->
<main class="container">
    <div class="bg-light p-5 rounded-lg m-3 text-center">
        <h1>Welcome to <%= title %> page</h1>
    </div>
</main>
<!-- Defining a container to store the body of the about Page -->
<div class="container">
    <div class="bg-light p-5 rounded-sm m-3">
        <div class="container p-5 top-buffer">
            <h2>Oscar Gonzalez's Portafolio</h2>
        </div>
        <!-- Creating a container to store and control edges of content -->
        <div class="container top-buffer">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Purpose</h3>
                    <p class="lead text-justify">This web page aims to be a showcase of my experience,
                        <a href="/projects">projects</a> and the source to provide you
                        the information you need to have a better understanding of my abilities,
                        and <a href="/services">services</a> offered. You can find more information
                        about me in the <a href="/about">About Me</a> section
                    </p>
                </div>
                <div class="col">
                    <div class="bg-light">
                        <h3 class="text-center">Personal Mission</h3>
                        <p class="lead text-justify">My purpose is to have an outstanding performance in the
                            field of Artificial Intelligence, I have also interest in Blockchain
                            technologies, and telecommunications. My personal purpose is to be a
                            reference in those fields and to create solutions that will help
                            society, institutions, companies and individuals to do everything more
                            simple and concentrate their efforts in their own developement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>