<!-- Creating a container -->
<div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <!-- Creating a Form to fill user information, and submit an email (To be done in next release) -->
        <form>
            <h2 class="text-center">In case you want to get in touch with me:</h2>
            <p class="text-center">Please leave your message and contact details below&nbsp;</p>
            <!-- Using Bootstrap card to show organized information -->
            <div class="card" style="max-width: 540px;">
                <div class="row g-0 align-middle">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Oscar Eduardo Gonzalez Neira</h5>
                            <h6 class="card-text"><strong>Email:</strong> imoskgn@gmail.com</h6>
                            <h6 class="card-text"><strong>Phone:</strong> 647-807-2437</h6>
                            <!-- Adding links to my social media and github -->
                            <h6 class="card-text"><strong>LinkedIn: </strong><a
                                    href="https://www.linkedin.com/in/imoskgn/" target="_blank">@imoskgn</a></h6>
                            <h6 class="card-text"><strong>GitHub: </strong><a href="https://github.com/imoskgn"
                                    target="_blank">@imoskgn</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Creating form entries, and hits -->
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder=" Enter your email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Subject</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Subject">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder=" Write your message here"></textarea>
            </div>
            <!-- Placeholder to be refactored, for now to route to the HOME page. -->
            <div>
                <a href="/home" class="btn btn-primary" role="button">Submit</a>
            </div>
        </form>
    </div>
</div>