<!-- Defining the main container -->
<div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <!-- Defining Grid row for the titel -->
        <div class="row top-buffer">
            <header>
                <h1 class="text-center">Services</h1>
                <h2 class="text-center">See below the available services</h2>
            </header>
        </div>
        <!--  Defining row to control the content and columns to store one Bootstrap Card per column -->
        <div class="row top-buffer">
            <div class="col">
                <!-- Using Bootstrap Card to show information about services -->
                <div class="card" style="width: 18rem;">
                    <img src="Assets\images\tmf.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BSS Consultancy</h5>
                        <p class="card-text lead">Evaluation and consultant services for BSS
                            Implementation based on TM Forum FranworkX and SID Framework.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Assets\images\logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ETL Design</h5>
                        <p class="card-text">ETL (Extract Transforma and Load) Python implementation, using
                            python 3.X, Oracle or ProgreSQL, and REST-Full APIs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Assets\images\docs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Documentation</h5>
                        <p class="card-text">Elaboration of documentation for User Stories, Use Cases and Customer deliverables
                            such as HLD, LLD, for TMF FrameworkX implementations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>